<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Мини-проект по Flask</title>
</head>
<body>
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://stepik.org/course/97540">
      <h1 class="text-white"><img src="/static/images/Stepik.png" alt="Картинка Stepik"> Небольшой мини-проект по изучению форм для Flask</h1>
    </a>
  </div>
</nav>
<br>
{% block content %}
<div class="container">
    {% block app_content %}

    {% endblock %}
</div>
{% endblock %}
<nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <span class="navbar-text">
      2021. Никакие права не защищены
    </span>
  </div>
</nav>
</body>
</html>